body.rtl .piotnetforms-22736 .piotnetforms-labels-inline .piotnetforms-field-group > label {padding-left: 10px;}
body:not(.rtl) .piotnetforms-22736 .piotnetforms-labels-inline .piotnetforms-field-group > label {padding-right: 10px;}
body .piotnetforms-22736 .piotnetforms-field-group > label {padding-bottom: 10px;}
.piotnetforms-22736 .piotnetforms-field-group > label {font-size: 24px;}
.piotnetforms-22736 .piotnetforms-field-group > label {font-weight: 700;}
#piotnetforms .p28886992 {padding: 15px 5px 5px 5px;}
#piotnetforms .p28886992 {border-style: solid;}
#piotnetforms .p28886992 {border-color: rgba(230,230,230,1);}
#piotnetforms .p28886992 {border-width: 1px 1px 1px 1px;}
#piotnetforms .p50255092>.piotnet-section__container {max-width: 1140px;}
@media (max-width:1025px) {#piotnetforms .p50255092>.piotnet-section__container {max-width: 1140px;}}
@media (max-width:767px) {#piotnetforms .p50255092>.piotnet-section__container {max-width: 1140px;}}
#piotnetforms .p50255092 {margin: 0px 0px 10px 0px;}
#piotnetforms .p98757410 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p98757410 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p98757410 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p98757410 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p98757410 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p98757410 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p98757410 ul.thumbnails.image_picker_selector li {width: 25% !important;}
@media (max-width:1025px) {#piotnetforms .p98757410 ul.thumbnails.image_picker_selector li {width: 25% !important;}}
@media (max-width:767px) {#piotnetforms .p98757410 ul.thumbnails.image_picker_selector li {width: 50% !important;}}
#piotnetforms .p98757410 ul.thumbnails.image_picker_selector li {padding: 10px !important;}
#piotnetforms .p98757410 ul.thumbnails.image_picker_selector {margin: -10px -10px -10px -10px;}
@media (max-width:1025px) {#piotnetforms .p98757410 ul.thumbnails.image_picker_selector li {padding: 10px !important;}}
@media (max-width:1025px) {#piotnetforms .p98757410 ul.thumbnails.image_picker_selector {margin: -10px -10px -10px -10px;}}
@media (max-width:767px) {#piotnetforms .p98757410 ul.thumbnails.image_picker_selector li {padding: 10px !important;}}
@media (max-width:767px) {#piotnetforms .p98757410 ul.thumbnails.image_picker_selector {margin: -10px -10px -10px -10px;}}
#piotnetforms .p98757410 ul.thumbnails.image_picker_selector .thumbnail {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p98757410 ul.thumbnails.image_picker_selector .image_picker_image {border-radius: 8px 8px 0px 0px;}
#piotnetforms .p98757410 ul.thumbnails p {padding: 10px 10px 10px 10px;}
#piotnetforms .p98757410.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p98757410.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p98757410.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p45787850 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p45787850 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p45787850 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p45787850 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p45787850 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p45787850 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p45787850.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p45787850.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p45787850.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {padding: 10px 15px 10px 15px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field select {padding: 10px 15px 10px 15px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {padding: 10px 15px 10px 15px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown .selectize-dropdown-content {padding: 10px 15px 10px 15px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-style: solid;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual {border-style: solid;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {border-style: solid;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown {border-style: solid;}
#piotnetforms .p45787850 .piotnetforms-signature canvas {border-style: solid;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-width: 1px 1px 1px 1px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual {border-width: 1px 1px 1px 1px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {border-width: 1px 1px 1px 1px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown {border-width: 1px 1px 1px 1px;}
#piotnetforms .p45787850 .piotnetforms-signature canvas {border-width: 1px 1px 1px 1px;}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-color: rgba(212,212,212,1);}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual {border-color: rgba(212,212,212,1);}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {border-color: rgba(212,212,212,1);}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown {border-color: rgba(212,212,212,1);}
#piotnetforms .p45787850 .piotnetforms-signature canvas {border-color: rgba(212,212,212,1);}
#piotnetforms .p45787850 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p45787850 .piotnetforms-field-group .piotnetforms-select-wrapper select {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p45787850 .piotnetforms-field-group .piotnetforms-select-wrapper .piotnetforms-field-textual {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p45787850 .piotnetforms-field-group .piotnetforms-select-wrapper .piotnetforms-field-textual .selectize-input {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p45787850 .piotnetforms-field-group .piotnetforms-select-wrapper .selectize-control .selectize-dropdown .selectize-dropdown-content {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p45787850 .piotnetforms-signature canvas {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p45787850 {width: 34%;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p45787850"] {width: 34%;}
@media (max-width:767px) {#piotnetforms .p45787850 {width: 100%;}}
@media (max-width:767px) {#piotnetforms [data-piotnet-editor-widgets-item-id="p45787850"] {width: 100%;}}
#piotnetforms .p87057769 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p87057769 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p87057769 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p87057769 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p87057769 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p87057769 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p87057769 .piotnetforms-calculated-fields-form {font-size: 22px;}
#piotnetforms .p87057769.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p87057769.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p87057769.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p87057769 {width: 33%;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p87057769"] {width: 33%;}
@media (max-width:767px) {#piotnetforms .p87057769 {width: 100%;}}
@media (max-width:767px) {#piotnetforms [data-piotnet-editor-widgets-item-id="p87057769"] {width: 100%;}}
#piotnetforms .p29515865 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p29515865 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p29515865 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p29515865 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p29515865 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p29515865 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p29515865 [data-piotnetforms-spiner] button {width: 32px;}
@media (max-width:1025px) {#piotnetforms .p29515865 [data-piotnetforms-spiner] button {width: 32px;}}
@media (max-width:767px) {#piotnetforms .p29515865 [data-piotnetforms-spiner] button {width: 32px;}}
#piotnetforms .p29515865 [data-piotnetforms-spiner] button {height: 32px;}
@media (max-width:1025px) {#piotnetforms .p29515865 [data-piotnetforms-spiner] button {height: 32px;}}
@media (max-width:767px) {#piotnetforms .p29515865 [data-piotnetforms-spiner] button {height: 32px;}}
#piotnetforms .p29515865 [data-piotnetforms-spiner] .nice-number input {width: 20px !important;}
@media (max-width:1025px) {#piotnetforms .p29515865 [data-piotnetforms-spiner] .nice-number input {width: 20px !important;}}
@media (max-width:767px) {#piotnetforms .p29515865 [data-piotnetforms-spiner] .nice-number input {width: 20px !important;}}
#piotnetforms .p29515865.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p29515865.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p29515865.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p29515865 {width: 32%;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p29515865"] {width: 32%;}
#piotnetforms .p46840670>.piotnet-section__container {max-width: 1140px;}
@media (max-width:1025px) {#piotnetforms .p46840670>.piotnet-section__container {max-width: 1140px;}}
@media (max-width:767px) {#piotnetforms .p46840670>.piotnet-section__container {max-width: 1140px;}}
#piotnetforms .p9215837 {text-align: right;}
#piotnetforms .p9215837.piotnetforms-btn .piotnet-button, #piotnetforms .p9215837.piotnetforms-btn a {padding: 15px 20px 15px 20px;}
#piotnetforms .p66324683 {text-align: left;}
@media (max-width:1025px) {#piotnetforms .p66324683 {text-align: left;}}
@media (max-width:767px) {#piotnetforms .p66324683 {text-align: left;}}
#piotnetforms .p66324683 .piotnetforms-icon__item i {padding: 10px 10px 10px 10px;}
#piotnetforms .p66324683 {width: auto;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p66324683"] {width: auto;}
#piotnetforms .p66324683 {border-style: solid;}
#piotnetforms .p66324683 {border-color: rgba(204,204,204,1);}
#piotnetforms .p66324683 {border-width: 1px 1px 1px 1px;}
#piotnetforms .p66324683 {border-radius: 2px 2px 2px 2px;}
#piotnetforms:not(.piotnetforms-widget-preview) .p66324683 {position: absolute;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p66324683"] {position: absolute;}
#piotnetforms:not(.piotnetforms-widget-preview) .p66324683 {z-index: 1;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p66324683"] {z-index: 1;}
#piotnetforms:not(.piotnetforms-widget-preview) .p66324683 {top: 0px;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p66324683"] {top: 0px;}
#piotnetforms:not(.piotnetforms-widget-preview) .p66324683 {right: 10px;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p66324683"] {right: 10px;}
#piotnetforms .p23486011 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p23486011 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p23486011 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p23486011 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p23486011 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p23486011 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p23486011 .piotnetforms-calculated-fields-form {font-size: 24px;}
#piotnetforms .p23486011 .piotnetforms-calculated-fields-form {font-weight: 700;}
#piotnetforms .p23486011.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p23486011.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p23486011.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}