body.rtl .piotnetforms-22736 .piotnetforms-labels-inline .piotnetforms-field-group > label {padding-left: 10px;}
body:not(.rtl) .piotnetforms-22736 .piotnetforms-labels-inline .piotnetforms-field-group > label {padding-right: 10px;}
body .piotnetforms-22736 .piotnetforms-field-group > label {padding-bottom: 10px;}
.piotnetforms-22736 .piotnetforms-field-group > label {font-size: 24px;}
.piotnetforms-22736 .piotnetforms-field-group > label {font-weight: 700;}
#piotnetforms .p6292796 {padding: 15px 5px 5px 5px;}
#piotnetforms .p6292796 {border-style: solid;}
#piotnetforms .p6292796 {border-color: rgba(230,230,230,1);}
#piotnetforms .p6292796 {border-width: 1px 1px 1px 1px;}
#piotnetforms .p60081919>.piotnet-section__container {max-width: 1140px;}
@media (max-width:1025px) {#piotnetforms .p60081919>.piotnet-section__container {max-width: 1140px;}}
@media (max-width:767px) {#piotnetforms .p60081919>.piotnet-section__container {max-width: 1140px;}}
#piotnetforms .p60081919 {margin: 0px 0px 10px 0px;}
#piotnetforms .p51345019 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p51345019 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p51345019 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p51345019 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p51345019 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p51345019 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p51345019 ul.thumbnails.image_picker_selector li {width: 25% !important;}
@media (max-width:1025px) {#piotnetforms .p51345019 ul.thumbnails.image_picker_selector li {width: 25% !important;}}
@media (max-width:767px) {#piotnetforms .p51345019 ul.thumbnails.image_picker_selector li {width: 50% !important;}}
#piotnetforms .p51345019 ul.thumbnails.image_picker_selector li {padding: 10px !important;}
#piotnetforms .p51345019 ul.thumbnails.image_picker_selector {margin: -10px -10px -10px -10px;}
@media (max-width:1025px) {#piotnetforms .p51345019 ul.thumbnails.image_picker_selector li {padding: 10px !important;}}
@media (max-width:1025px) {#piotnetforms .p51345019 ul.thumbnails.image_picker_selector {margin: -10px -10px -10px -10px;}}
@media (max-width:767px) {#piotnetforms .p51345019 ul.thumbnails.image_picker_selector li {padding: 10px !important;}}
@media (max-width:767px) {#piotnetforms .p51345019 ul.thumbnails.image_picker_selector {margin: -10px -10px -10px -10px;}}
#piotnetforms .p51345019 ul.thumbnails.image_picker_selector .thumbnail {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p51345019 ul.thumbnails.image_picker_selector .image_picker_image {border-radius: 8px 8px 0px 0px;}
#piotnetforms .p51345019 ul.thumbnails p {padding: 10px 10px 10px 10px;}
#piotnetforms .p51345019.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p51345019.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p51345019.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p57554901 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p57554901 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p57554901 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p57554901 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p57554901 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p57554901 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p57554901.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p57554901.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p57554901.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {padding: 10px 15px 10px 15px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field select {padding: 10px 15px 10px 15px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {padding: 10px 15px 10px 15px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown .selectize-dropdown-content {padding: 10px 15px 10px 15px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-style: solid;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual {border-style: solid;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {border-style: solid;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown {border-style: solid;}
#piotnetforms .p57554901 .piotnetforms-signature canvas {border-style: solid;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-width: 1px 1px 1px 1px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual {border-width: 1px 1px 1px 1px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {border-width: 1px 1px 1px 1px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown {border-width: 1px 1px 1px 1px;}
#piotnetforms .p57554901 .piotnetforms-signature canvas {border-width: 1px 1px 1px 1px;}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-color: rgba(212,212,212,1);}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual {border-color: rgba(212,212,212,1);}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .piotnetforms-field-textual .selectize-input {border-color: rgba(212,212,212,1);}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field .selectize-control .selectize-dropdown {border-color: rgba(212,212,212,1);}
#piotnetforms .p57554901 .piotnetforms-signature canvas {border-color: rgba(212,212,212,1);}
#piotnetforms .p57554901 .piotnetforms-field-group:not(.piotnetforms-field-type-upload) .piotnetforms-field:not(.piotnetforms-select-wrapper) {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p57554901 .piotnetforms-field-group .piotnetforms-select-wrapper select {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p57554901 .piotnetforms-field-group .piotnetforms-select-wrapper .piotnetforms-field-textual {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p57554901 .piotnetforms-field-group .piotnetforms-select-wrapper .piotnetforms-field-textual .selectize-input {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p57554901 .piotnetforms-field-group .piotnetforms-select-wrapper .selectize-control .selectize-dropdown .selectize-dropdown-content {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p57554901 .piotnetforms-signature canvas {border-radius: 8px 8px 8px 8px;}
#piotnetforms .p57554901 {width: 34%;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p57554901"] {width: 34%;}
@media (max-width:767px) {#piotnetforms .p57554901 {width: 100%;}}
@media (max-width:767px) {#piotnetforms [data-piotnet-editor-widgets-item-id="p57554901"] {width: 100%;}}
#piotnetforms .p89775241 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p89775241 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p89775241 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p89775241 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p89775241 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p89775241 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p89775241 .piotnetforms-calculated-fields-form {font-size: 22px;}
#piotnetforms .p89775241.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p89775241.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p89775241.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p89775241 {width: 33%;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p89775241"] {width: 33%;}
@media (max-width:767px) {#piotnetforms .p89775241 {width: 100%;}}
@media (max-width:767px) {#piotnetforms [data-piotnet-editor-widgets-item-id="p89775241"] {width: 100%;}}
#piotnetforms .p69595751 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p69595751 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p69595751 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p69595751 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p69595751 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p69595751 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p69595751 [data-piotnetforms-spiner] button {width: 32px;}
@media (max-width:1025px) {#piotnetforms .p69595751 [data-piotnetforms-spiner] button {width: 32px;}}
@media (max-width:767px) {#piotnetforms .p69595751 [data-piotnetforms-spiner] button {width: 32px;}}
#piotnetforms .p69595751 [data-piotnetforms-spiner] button {height: 32px;}
@media (max-width:1025px) {#piotnetforms .p69595751 [data-piotnetforms-spiner] button {height: 32px;}}
@media (max-width:767px) {#piotnetforms .p69595751 [data-piotnetforms-spiner] button {height: 32px;}}
#piotnetforms .p69595751 [data-piotnetforms-spiner] .nice-number input {width: 20px !important;}
@media (max-width:1025px) {#piotnetforms .p69595751 [data-piotnetforms-spiner] .nice-number input {width: 20px !important;}}
@media (max-width:767px) {#piotnetforms .p69595751 [data-piotnetforms-spiner] .nice-number input {width: 20px !important;}}
#piotnetforms .p69595751.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p69595751.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p69595751.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
#piotnetforms .p69595751 {width: 32%;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p69595751"] {width: 32%;}
#piotnetforms .p24494074>.piotnet-section__container {max-width: 1140px;}
@media (max-width:1025px) {#piotnetforms .p24494074>.piotnet-section__container {max-width: 1140px;}}
@media (max-width:767px) {#piotnetforms .p24494074>.piotnet-section__container {max-width: 1140px;}}
#piotnetforms .p9964485 {text-align: right;}
#piotnetforms .p9964485.piotnetforms-btn .piotnet-button, #piotnetforms .p9964485.piotnetforms-btn a {padding: 15px 20px 15px 20px;}
#piotnetforms .p70320506 {text-align: left;}
@media (max-width:1025px) {#piotnetforms .p70320506 {text-align: left;}}
@media (max-width:767px) {#piotnetforms .p70320506 {text-align: left;}}
#piotnetforms .p70320506 .piotnetforms-icon__item i {padding: 10px 10px 10px 10px;}
#piotnetforms .p70320506 {width: auto;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p70320506"] {width: auto;}
#piotnetforms .p70320506 {border-style: solid;}
#piotnetforms .p70320506 {border-color: rgba(204,204,204,1);}
#piotnetforms .p70320506 {border-width: 1px 1px 1px 1px;}
#piotnetforms .p70320506 {border-radius: 2px 2px 2px 2px;}
#piotnetforms:not(.piotnetforms-widget-preview) .p70320506 {position: absolute;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p70320506"] {position: absolute;}
#piotnetforms:not(.piotnetforms-widget-preview) .p70320506 {z-index: 1;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p70320506"] {z-index: 1;}
#piotnetforms:not(.piotnetforms-widget-preview) .p70320506 {top: 0px;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p70320506"] {top: 0px;}
#piotnetforms:not(.piotnetforms-widget-preview) .p70320506 {right: 10px;}
#piotnetforms [data-piotnet-editor-widgets-item-id="p70320506"] {right: 10px;}
#piotnetforms .p53571448 .piotnetforms-label-inline {width: 10%;}
#piotnetforms .p53571448 .piotnetforms-field-inline {width: calc(100% - 10%);}
@media (max-width:1025px) {#piotnetforms .p53571448 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:1025px) {#piotnetforms .p53571448 .piotnetforms-field-inline {width: calc(100% - 10%);}}
@media (max-width:767px) {#piotnetforms .p53571448 .piotnetforms-label-inline {width: 10%;}}
@media (max-width:767px) {#piotnetforms .p53571448 .piotnetforms-field-inline {width: calc(100% - 10%);}}
#piotnetforms .p53571448 .piotnetforms-calculated-fields-form {font-size: 24px;}
#piotnetforms .p53571448 .piotnetforms-calculated-fields-form {font-weight: 700;}
#piotnetforms .p53571448.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}
@media (max-width:1025px) {#piotnetforms .p53571448.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}
@media (max-width:767px) {#piotnetforms .p53571448.piotnetforms-label-animation.piotnetforms-label-animated label {transform: translate3d(0,-24px,10px);}}